.MainTextAboutParent{
    min-height: 100%;
    padding-top: 5%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.99;
    }
    100% {
        opacity: 1;
    }
}

.MainTextAboutTitle{
    margin-top: 10px;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.MainTextAboutBody{
    color:#cecece;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
}

.MainTextAboutBodyCardsParent{
    /* background-color: red; */
    display: flex; 
    flex-direction: row;
}

.MainTextAboutBodyCardColumn{
    flex: 1;
    display: flex; 
    flex-direction: column;
    /* background-color: purple; */
}

.MainTextAboutBodyCardParent {
    flex: 1;
    /* background-color: #080808; */
    border-radius: 10px;
    margin: 10px;
    aspect-ratio: 1;
    height: auto;
    position: relative;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.MainTextAboutBodyCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    transition: all 0.5s ease;
    /* background: yellow; */
}

.MainTextAboutBodyCardFixed {
    position: absolute;
    width: 100%;
    height: 100%;
}

.MainTextAboutBodyCard:hover {
    transform:rotateY(180deg);
}

.MainTextAboutBodyCardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #080808;
    color: #333;
}

.MainTextAboutBodyCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background: #969696; */
    background: #cfcfcf;
    color: #333;
    transform: rotateY(180deg);
}

.MainTextAboutBodyCardBack img {
    width: 100%;
    height: auto;
}

.MainTextAboutBodyCardBackText {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.noFlip {
    transform: none;
}

.MainTextAboutBodyCardChosenCard {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* backface-visibility: hidden; */
    /* background: #969696; */
    background: #cfcfcf;
    /* background: white; */
    color: #333;
    /* transform: rotateY(180deg); */
    width: 80%;
    height: 80%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}