.MainTextExperienceParent{
    min-height: 100%;
    padding-top: 5%;
    /* animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%; */
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8; /* Adjust this value as needed */
    }
    100% {
        opacity: 1;
    }
}

.MainTextExperienceTitle{
    margin-top: 10px;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.MainTextExperienceBody{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    display: flex; 
    flex-direction: column;
    position: relative;
}

.MainTextExperienceBodySection{
    background-color: #080808;
    border-radius: 10px;
    margin-bottom: 40px; /* Set bottom margin as a percentage of the parent height */
    position: relative;
    padding: 20px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.MainTextExperienceBodyTitles{
    display: flex; 
    flex-direction: row; 

}

.MainTextExperienceBodyCompanyName, .MainTextExperienceBodyDate{
    flex: 1;
    font-weight: bold;
}

.MainTextExperienceBodyJobTitle{
    font-weight: bold;
}

.MainTextExperienceBodyJobDescription{
    color:#cecece;
}

.MainTextExperienceBodyRespAndAcom{
    font-weight: bold;
}

.MainTextExperienceBodyRespAndAcomList{
    color:#cecece;
    margin-top: 0;
}