/* header.css */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #080808;
    /* padding-top: 10px;  */
    border-right: 1px solid #0e0e0e;
  }

  .logo__parent {
    font-size: 48px;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    padding-top: 10px; 
    text-align: center;
    opacity: 0;
    background-color: black;
  }

  .header__logo {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
    /* opacity: 0.7; */
  }

  .header__logo__text__1 {
    font-size: 24px;
    color: white;
    display: block;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
  }

  .header__logo__text__2 {
    font-size: 10px;
    /* color: #f700ff; */
    color: #969696;
    display: block;
    padding-bottom: 20px;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
  }

  .header__nav {
    text-align: center;
  }
  
  .header__option {
    opacity: 0;
    margin-left: 1px;
    margin-right: 1px;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid #0e0e0e;
  }

  .header__link {
    color: #969696;
    text-decoration: none;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
  }

  /* .header__link:hover .header__option {
    background-color: #111111;
  } */

  .header__option:hover {
    background-color: #111111;
  }

  .header__anim__1 {
    animation: slide 0.1s linear forwards;
  }

  .header__anim__2 {
    animation: slide 0.1s linear 0.1s forwards;
  }

  .header__anim__3 {
    animation: slide 0.1s linear 0.2s forwards;
  }

  .header__anim__4 {
    animation: slide 0.1s linear 0.3s forwards;
  }

  .header__anim__5 {
    animation: slide 0.1s linear 0.4s forwards;
  }

  .header__anim__6 {
    animation: slide 0.1s linear 0.5s forwards;
  }

  @keyframes slide {
    0% {
      /* transform: translateX(-100%); */
      opacity: 0;
    }

    100% {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }

  .social-links {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.social-links a {
    flex: 1;
    /* margin-right: 10px; */
    /* margin-left: 10%;
    margin-right: 10%; */
}

.github__link img{
    /* max-width: 100%;
    height: auto; */
    width: 40%;
    height: 80%;
    opacity: 60%;
}

.linkedin__link img{
  height: 80%;
  width: 40%;
  opacity: 60%;
}

.email__link img{
  height: 80%;
  width: 50%;
  opacity: 60%;
}
