/* header.css */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #013621;
    padding-top: 20px; 
  }

  .initials {
    font-size: 48px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
  }

  .header__nav {
    text-align: center;
  }
  
  .header__option {
    opacity: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .header__link {
    color: white;
    text-decoration: none;
  }

  .header__anim__1 {
    animation: slide 0.1s linear forwards;
  }

  .header__anim__2 {
    animation: slide 0.1s linear 0.05s forwards;
  }

  .header__anim__3 {
    animation: slide 0.1s linear 0.1s forwards;
  }

  .header__anim__4 {
    animation: slide 0.1s linear 0.15s forwards;
  }

  .header__anim__5 {
    animation: slide 0.1s linear 0.2s forwards;
  }

  .header__anim__6 {
    animation: slide 0.1s linear 0.25s forwards;
  }

  @keyframes slide {
    0% {
      transform: translateX(-100%);
      opacity: 1;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  