.MainTextParent{
    background: transparent;
    width: 80%;
    height: 100vh;
    position: fixed;
    left: 10%;
    z-index: 2;
    /* margin-left: 5%; */
    padding-left: 5%;
    padding-right: 5%;
    /* margin-right: 5%; */
    overflow: auto;
}

.MainTextParent::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

.MainTextParent::-webkit-scrollbar-thumb {
    background-color: #0e0e0e; /* Make the thumb transparent */
}

.MainTextParent::-webkit-scrollbar-track {
    background-color: black; /* Make the track transparent */
}

/* --------------------------------Title---------------------------------- */

.MainTextTitleParent{
    min-height: 100%;
    /* margin-top: 22%; */
    padding-top: 10%;
}

.MainTextTitle{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 150px;
    margin-top: 12%;
    /* font-weight: bold; */
    animation: FadeIn 0.5s linear 1.6s forwards;
    opacity: 0;
}

@keyframes FadeIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
      }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.MainTextAnimation span{
    display: inline-block;
    transition:color 0.3S;
}

.MainTextAnimation span:hover {
    color: #f700ff;
}

.MainTextTitleUnderscore {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.MainTextSubtitle{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
    /* margin-top: 10px; */
    animation: FadeIn 0.5s linear 2.2s forwards;
    opacity: 0;
}

/* --------------------------------About---------------------------------- */

.MainTextAboutParent{
    min-height: 100%;
    padding-top: 5%;
    /* position: relative; */
}

.MainTextAboutTitle{
    margin-top: 10px;
    /* margin-bottom: 10%; */
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
}

.MainTextAboutBody{
    color:#cecece;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    /* margin-bottom: 10%; */
}

.MainTextAboutBodyCardsParent{
    /* background-color: red; */
    display: flex; 
    flex-direction: row;
}

.MainTextAboutBodyCardColumn{
    flex: 1;
    display: flex; 
    flex-direction: column;
    /* background-color: purple; */
}

.MainTextAboutBodyCardParent {
    flex: 1;
    /* background-color: #080808; */
    border-radius: 10px;
    margin: 10px;
    aspect-ratio: 1;
    height: auto;
    position: relative;
}

.MainTextAboutBodyCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    transition: all 0.5s ease;
    /* background: yellow; */
}

.MainTextAboutBodyCardFixed {
    position: absolute;
    width: 100%;
    height: 100%;
}

.MainTextAboutBodyCard:hover {
    transform:rotateY(180deg);
}

.MainTextAboutBodyCardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #080808;
    color: #333;
}

.MainTextAboutBodyCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #969696;
    color: #333;
    transform: rotateY(180deg);
    /* margin: 10px; */
}

.MainTextAboutBodyCardBackText {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noFlip {
    transform: none;
}

.MainTextAboutBodyCardChosenCard {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* backface-visibility: hidden; */
    background: #969696;
    color: #333;
    /* transform: rotateY(180deg); */
    width: 80%;
    height: 80%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------Skills---------------------------------- */

.MainTextSkillsParent{
    min-height: 100%;
    padding-top: 5%;
}

.MainTextSkillsTitle{
    margin-top: 10px;
    /* margin-bottom: 10%; */
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
}

.MainTextSkillsBody{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    /* margin-bottom: 10%; */
    display: flex; /* Use flexbox */
    flex-direction: row; /* Children will be in a row */
    /* margin-top: 1%; */
}

.MainTextSkillsBodyRight,
.MainTextSkillsBodyLeft {
    flex: 1;
    display: flex; /* Use flexbox */
    flex-direction: column;
    position: relative;
}

.MainTextSkillsBodyRight {
    /* margin-left: 10%; */
}

.MainTextLanguagesSubtitle, .MainTextToolsSubtitle{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
}

/* .MainTextSkillsBodyList{
    color:#cecece;
}

.MainTextSkillsBodyList li{
    margin-top: 5%;
} */

.MainTextSkillsBodyLeft span, .MainTextSkillsBodyRight span{
    color:#cecece;
    flex: 1;
    /* position: relative; */
    position: absolute;
}

.AstronaughtParent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Astronaught {
    max-width: 100%;
    height: auto;
    display: block;
    animation: floatAnimation 3s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); /* Adjust the value to control the floating range */
    }
  }


/* --------------------------------Projects---------------------------------- */

.MainTextProjectsParent{
    min-height: 100%;
    padding-top: 5%;
}

.MainTextProjectsTitle{
    margin-top: 10px;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
}

.MainTextProjectsBody{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    display: flex; 
    flex-direction: row;
    background-color: transparent;
    height: 65vh;
    /* margin-top: 2%; */
}

.MainTextProjectsBodyLeft, .MainTextProjectsBodyRight {
    flex: 1;
    display: flex; 
    flex-direction: column;
    background-color: transparent;
}

.MainTextProjectsBodyLeft{
    margin-right: 40px;
}

.ProjectContainer {
    flex: 1;
    display: flex; 
    flex-direction: row;
    background-color: #080808;
    border-radius: 10px;
    /* margin-right: 40px; */
    margin-bottom: 40px;
    padding: 20px;
    min-height: 140px;
}

.ProjectContainerImage {
    width: 20%;
    height: 100%;
    background-color: transparent;
    /* border: solid gray 1px; */
    border-radius: 10px;
    margin-right: 5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectContainerImage img {
    width: 100%;
    height: auto; 
    /* height: 100%; */
    max-width: 100%; 
    max-height: 100%;
}

.ProjectContainerText {
    position: relative;
    width: 75%;
    background-color: transparent;
    border-radius: 10px;
    /* border: solid gray 1px; */
}

.ProjectContainerTextList{
    /* padding-left: 20px; */
    /* margin-top: 4px; */
}

.ProjectContainerTextList li {
    margin: 2px;
    font-size: 18px;
}

.github__project__link {
    position: absolute;
    top: 0;
    right: 0;
    /* margin: 10px; Adjust the margin as needed */
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    overflow: hidden;
    /* z-index: 3; */
    /* border-radius: 4px; */
}

.github__project__link:hover {
    /* background-color: #272727; */
    opacity: 0.3;
}

/* .github__project__link__pink{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 3;
} */

.github__project__link img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* --------------------------------Experience---------------------------------- */

.MainTextExperienceParent{
    min-height: 100%;
    padding-top: 5%;
}

.MainTextExperienceTitle{
    margin-top: 10px;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
}

.MainTextExperienceBody{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    display: flex; 
    flex-direction: column;
    position: relative;
}

.MainTextExperienceBodySection{
    background-color: #080808;
    border-radius: 10px;
    margin-bottom: 40px; /* Set bottom margin as a percentage of the parent height */
    position: relative;
    padding: 20px;
}

.MainTextExperienceBodyTitles{
    display: flex; 
    flex-direction: row; 

}

.MainTextExperienceBodyCompanyName, .MainTextExperienceBodyDate{
    flex: 1;
    font-weight: bold;
}

.MainTextExperienceBodyJobTitle{
    font-weight: bold;
}

.MainTextExperienceBodyJobDescription{
    color:#cecece;
}

.MainTextExperienceBodyRespAndAcom{
    font-weight: bold;
}

.MainTextExperienceBodyRespAndAcomList{
    color:#cecece;
    margin-top: 0;
}

/* --------------------------------Education---------------------------------- */

.MainTextEducationParent {
    min-height: 100%;
    padding-top: 5%;
}

.MainTextEducationTitle {
    margin-top: 10px;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
}

.MainTextEducationBody {
    padding-top: 10%;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.MainTextEducationBodyRow1, .MainTextEducationBodyRow2 {
    flex:1;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    /* padding-top: 5%; */
}

.MainTextEducationBodyRow2 {
    padding-top: 5%;
}


.MainTextEducationBodyText, .MainTextEducationBodyText2 {
    /* width: 85%; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex:1;
    /* position: relative; */
}

.MainTextEducationBodyText span {
    text-align: center;
}

.MainTextEducationBodyText1 {
    margin-left: 5%;
}

.MainTextEducationBodyText2 {
    margin-right: 5%;
}

.MainTextEducationBodyTextLeft, .MainTextEducationBodyTextRight {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: absolute;
    right: 0; */
}

.MainTextEducationBodyTextLeft {
    /* position: absolute;
    right: 0; */
}

.MainTextEducationBodyTextRight {
    /* position: absolute;
    right: 0; */
    /* justify-content: space-between; */
    align-items: flex-end;
}

.MainTextEducationBodyTextSubtitle {
    flex: 1;
    font-weight: bold;
    font-size: 24px;
}

.MainTextEducationBodyTextSubtitle2 {
    flex: 1;
    /* font-weight: bold; */
    font-size: 14px;
    color: #cecece;
}

.UFOParent{
    flex: 1;
    /* padding: 10%; */
    /* width: 15%; */
    /* background-color: purple; */
    position: relative;
}

.UFO {
    max-width: 50%;
    height: auto;
    display: block;
    animation: UFOAnimation 10s infinite alternate ease-in-out;
}

.UFO2 {
    max-width: 50%;
    height: auto;
    display: block;
    animation: UFOAnimation2 10s infinite alternate ease-in-out;
}

@keyframes UFOAnimation {
    0% {
        transform: translate(100px, 110px);
    }
    9% {
        transform: translate(100px, 100px);
    }
    18% {
        transform: translate(0px, -10px);
    }
    27% {
        transform: translate(0px, 0px);
    }
    36% {
        transform: translate(20px, -200px);
    }
    45% {
        transform: translate(20px, -210px);
    }
    54% {
        transform: translate(20px, -200px);
    }
    63% {
        transform: translate(300px, 0px);
    }
    72% {
        transform: translate(300px, -10px);
    }
    81% {
        transform: translate(300px, 0px);
    }
    90% {
        transform: translate(-50px, 30px)
    }
    100% {
        transform: translate(-50px, 20px);
    }
}

@keyframes UFOAnimation2 {
    0% {
        transform: translate(-100px, 200px);
    }
    9% {
        transform: translate(-100px, 190px);
    }
    18% {
        transform: translate(-100px, 200px);
    }
    27% {
        transform: translate(0px, -150px);
    }
    36% {
        transform: translate(0px, -160px);
    }
    45% {
        transform: translate(0px, -150px);
    }
    54% {
        transform: translate(-50px, 70px);
    }
    63% {
        transform: translate(-50px, 80px);
    }
    72% {
        transform: translate(350px, -80px);
    }
    81% {
        transform: translate(350px, -90px);
    }
    90% {
        transform: translate(350px, -80px);
    }
    100% {
        transform: translate(-100px, 210px);
    }
}

/* --------------------------------Contact---------------------------------- */

.MainTextContactParent{
    min-height: 100%;
    padding-top: 5%;
}

.MainTextContactTitle{
    margin-top: 10px;
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
}

.MainTextContactBody{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.MainTextEmailParent{
    flex: 1;
    position: relative;
    /* border: 2px solid white; */
    border-radius: 8px;
    margin-right: 50px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    background-color: #080808;
    /* background-color: transparent; */
}

.MainTextContactMessage{
    flex: 1;
}

.MainTextEmailDestinationInput{
    background-color: black;
    /* border-bottom: 2px solid white; */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.MainTextEmailContentInput{
    background-color: black;
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.EmailInputLabel {
    flex: 0 0 auto; 
}

.EmailInput{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    flex: 1;
    padding-left: 8px;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 16px;
}

.ContentInput{
    flex: 1; 
    width: 100%; 
    background-color: transparent;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    outline: none;
    resize: none;
}

.ContentInput::-webkit-scrollbar {
    width: 12px; 
}

.ContentInput::-webkit-scrollbar-thumb {
    background-color: #0e0e0e; 
}

.ContentInput::-webkit-scrollbar-track {
    background-color: black;
}

.EmailInput::placeholder {
    color: white; 
}

button {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #969696;
    color: #969696;
    padding: 8px 16px; 
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  button:hover {
    background-color: white;
    border: 2px solid white;
    color: black; 
  }