  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .preLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #013621;
  }

  .preLoaderAnimation {
    
  }

  .bottomOfPot {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;   /* Top left corner */
    border-right: 50px solid transparent;  /* Top right corner */
    border-bottom: 100px solid #3498db;
  }

  .topOfPot {
    width: 200px;   /* Adjust the width as needed */
    height: 100px;  /* Adjust the height as needed */
    background-color: red;  /* Change the background color as needed */
    border-radius: 20px;
  }
  