  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .preLoaderSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    animation: spinnerAnimation 3s linear forwards;
  }

  @keyframes spinnerAnimation {
    0% {
      background-color: #FFFFFF;
    }

    50% {
      background-color: #FFFFFF;
    }

    85% {
      background-color: #013621;
    }

    100% {
      background-color: #013621;
    }
  }

  .welcomeText {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 24px;
    font-style: italic;
    background-color: #013621;
    color: #013621;
    opacity:1;
    animation: fadeAnimation 3s ease-in-out forwards;
  }

  @keyframes fadeAnimation {
    0% {
      /* opacity: 0; */
      color: #013621;
    }

    50% {
      /* opacity: 1; */
      color: #FFFFFF;
    }

    100% {
      /* opacity: 0; */
      color: #013621;
    }
  }

  .bottomOfPot {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;   /* Top left corner */
    border-right: 50px solid transparent;  /* Top right corner */
    border-bottom: 100px solid #3498db;
  }

  .topOfPot {
    width: 200px;   /* Adjust the width as needed */
    height: 100px;  /* Adjust the height as needed */
    background-color: red;  /* Change the background color as needed */
    border-radius: 20px;
  }
  