.MainTextSkillsParent{
    /* min-height: 100%; */
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: 750px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8; /* Adjust this value as needed */
    }
    100% {
        opacity: 1;
    }
}

.MainTextSkillsTitle{
    margin-top: 10px;
    /* margin-bottom: 10%; */
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 50px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.MainTextSkillsBody{
    color: white;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    /* margin-bottom: 10%; */
    display: flex; /* Use flexbox */
    flex-direction: row;
}

.MainTextSkillsBodyRight,
.MainTextSkillsBodyLeft {
    flex: 1;
    display: flex; /* Use flexbox */
    flex-direction: column;
    position: relative;
    align-items: center;
}

.MainTextSkillsBodyRight {
    /* margin-left: 10%; */
}

.MainTextLanguagesSubtitle, .MainTextToolsSubtitle{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    /* color:#cecece; */
    flex: 1;
    /* position: relative; */
    position: absolute;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    min-width: 0;
    /* font-size: 1.2vw; */
}

.CenteredSubtitles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    position: absolute;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    min-width: 0;
}

/* .MainTextSkillsBodyList{
    color:#cecece;
}

.MainTextSkillsBodyList li{
    margin-top: 5%;
} */

.MainTextSkillsBodyLeft span, .MainTextSkillsBodyRight span{
    /* color:#cecece;
    flex: 1;
    position: absolute;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    min-width: 0;
    font-size: 1vw; */
}

.MainTextSkillsBodyItem{
    color:#cecece;
    flex: 1;
    /* position: relative; */
    position: absolute;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    min-width: 0;
    /* font-size: 1vw; */
}

.AstronaughtParent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.Astronaught {
    max-width: 100%;
    height: auto;
    display: block;
    animation: floatAnimation 3s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); /* Adjust the value to control the floating range */
    }
  }